{% extends "base.html" %}

{% block title %}Lisää arvostelu - Kura{% endblock %}

{% block content %}
  <h2>Arvostele kurssi: {{ course.name }}</h2>

  <form action="/course/{{ course.id }}/create_review" method="post">
    <p>
      <label for="difficulty">Vaikeusaste (1–5):</label><br>
      <input id="difficulty" type="number" name="difficulty" min="1" max="5" required>
    </p>

    <p>
      <label for="workload">Työmäärä (tuntia/vko):</label><br>
      <input id="workload" type="number" name="workload" min="1" max="112" required>
    </p>

    <p>
      <label for="rating">Arvosana kurssille (0–5):</label><br>
      <input id="rating" type="number" name="rating" min="0" max="5" required>
    </p>

    <p>
      <label for="feedback">Palaute:</label><br>
      <textarea id="feedback" name="feedback" rows="5" cols="40" maxlength="1000" required></textarea>
    </p>

    <p>
      <button type="submit">Lähetä arvostelu</button>
    </p>

  </form>
{% endblock %}
