{% extends "base.html" %}

{% block title %}Lisää kurssi - Kura{% endblock %}

{% block content %}
<form action="{{ url_for('create_course') }}" method="post">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  <p>
    <label for="name">Kurssin nimi:</label><br>
    <input id="name" type="text" name="name" size="48" maxlength="50" required>
  </p>

  <p>
    <label for="code">Kurssin koodi:</label><br>
    <input id="code" type="text" name="code" size="16" required>
  </p>

  <p>
    <label for="grade">Saatu arvosana:</label><br>
    <input id="grade" type="number" name="grade" min="0" max="5" required>
  </p>

  <p>
    <label for="credits">Opintopisteet:</label><br>
    <input id="credits" type="number" name="credits" min="0" required> op
  </p>

  {% for class in classes %}
  <p>
    {{ class }}: <br />
    <select name="classes">
      <option value="">(Valitse suoritustapa)</option>
    {% for option in classes[class] %}
      <option value="{{ class }}:{{ option }}">{{ option }}</option>
    {% endfor %}
    </select>
  </p>
  {% endfor %}

  <p>
    <button type="submit">Luo uusi kurssi</button>
  </p>
</form>

{% endblock %}