{% extends "base.html" %}

{% block title %}Luo tunnus – Kura{% endblock %}

{% block content %}
  <h2>Luo tunnus</h2>

  {% for message in get_flashed_messages() %}
    <p><strong>{{ message }}</strong></p>
  {% endfor %}

  <form action="/create" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <p>
      <label for="username">Tunnus:</label><br>
      <input id="username" type="text" name="username" required pattern="^\S+$" title="Käyttäjätunnus ei saa sisältää välilyöntejä.">
    </p>
    <p>
      <label for="password1">Salasana:</label><br>
      <input id="password1" type="password" name="password1" required>
    </p>
    <p>
      <label for="password2">Salasana uudestaan:</label><br>
      <input id="password2" type="password" name="password2" required>
    </p>
    <p>
      <button type="submit">Luo tunnus</button>
    </p>
  </form>

{% endblock %}
