<!DOCTYPE html>
<html>
  <head>
    <title>Käyttäjä {{ user.username }}</title>
  </head>
  <body>
    <h1>{{ user.username }} omat sivut</h1>

    {%- for message in get_flashed_messages() -%}
      <p><b>{{ message }}</b></p>
    {%- endfor -%}

    <p>
        Käyttäjällä on yhteensä {{ courses | count }} kurssia.
    </p>

    <h2>Käyttäjän suoritetut kurssit</h2>
    {% if courses %}
      <ul>
        {% for course in courses %}
          <li><a href="/course/{{ course.id }}">{{ course.code }} {{ course.name }}</a></li>
        {% endfor %}
      </ul>
    {% else %}
      <p>Ei lisättyjä kursseja</p>
    {% endif %}

      <a href="/">Takaisin etusivulle</a>
    </p>
  </body>
</html>