 {% extends "base.html" %}

{% block title %}Kurssi - {{ course.name }} - Kura{% endblock %}

{% block content %}
 <h2>{{ course.name }}</h1>

  {% for message in get_flashed_messages() %}
    <p><strong>{{ message }}</strong></p>
  {% endfor %}

  {% if session.user_id == course.user_id %}
    <p>
      {% if not review %}
        <a href="/course/{{ course.id }}/new_review" class="button">Luo arvostelu</a>
      {% endif %}
    </p>
    <p>
      <a href="/edit_course/{{ course.id }}">Muokkaa kurssia</a>
      <a href="/remove_course/{{ course.id }}">Poista kurssi</a>
    </p>

  {% endif %}

  <p><strong>Koodi:</strong> {{ course.code }}</p>
  <p><strong>Arvosana:</strong> {{ course.grade }}</p>
  <p><strong>Opintopisteet:</strong> {{ course.credits }} op</p>
  <p><strong>Lisännyt käyttäjä:</strong> <a href="/user/{{ course.user_id }}">{{ course.username }}</a></p>

  {% if classes %}
    <div>
      <strong>Luokat:</strong>
      <ul>
        {% for class in classes %}
          <li>{{ class.title }}: {{ class.value }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <p><strong>Arvostelu:</strong></p>
  {% if review %}
    <ul class="review-list">
      <li class="review-item">
        <a class="review-link" href="/course/{{ review.course_id }}/show_review">
          {{ review.name }} {{ "★" * (review.rating | int) }}{{ "☆" * (5 - (review.rating | int)) }}
        </a>
  {% else %}
        <p class="empty-state">Ei vielä arvostelua kurssista</p>
  {% endif %}

{% endblock %}